<% include partials/header %>


<h1>Welcome to HOME.....</h1>
<img src="https://www.sideshowtoy.com/assets/products/903421-iron-man/lg/marvel-avengers-infinity-war-iron-man-sixth-scale-figure-hot-toys-903421-01.jpg"> 


<% include partials/footer %>