<% include partials/header %>

<h1>You fell in LOVE with: <%= thingVar %></h1>

<% if(thingVar === "dog"){ %>
<p>This is the best choice</p>
<% } else{ %>
<p>Bad Choice</p>
<% } %>
<p>P.S this is love .ejs file</p>

<% include partials/footer %>